/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Header */
:root {
  --primary-color: #e50914;
  --dark-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 98vh;
  position: relative;
  background: url('img/background2.jpg') no-repeat top center/cover;
  background-position-y: -30px;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 90px 40px 250px #000000, inset -90px -220px 280px #000000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 12.5rem;
  position: absolute;
  top: 67%;
  left: 14.5%;
  transform: translate(-50%, -50%);
}

.showcase-top .select-box {
  /* transform: translate(75%, 93%); */
  z-index: 3;
  margin-left: 1520px;
  padding-top: 39px;
}

.showcase-top .select-box svg {
  /* width: 50px; */
  /* padding-top: 5px; */
  transform: translate(-20%, 26%);
  color: rgb(146, 146, 146);
}

.showcase-top .select-box > select {
  font-size: 1rem;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background: rgba(24, 24, 24, 0.7);
  color: rgb(255, 255, 255);
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 1.3rem;
}

.showcase-top a {
  position: absolute;
  top: 67%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu,
    sans-serif;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 4.75rem;
  margin-top: 4.375rem;
  /* letter-spacing: -2px; */
}

.showcase-content p {
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  line-height: 1.25;
}

.showcase-content .price {
  font-size: 1.7em;
  margin-top: 1rem;
}

.showcase-content .ready-ps {
  font-size: 1.38em;
  font-weight: 400;
  margin-top: 2.1rem;
}

.showcase-content .get-started {
  display: inline;
  margin-top: 0.625rem;
}

/* Tabs */
.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  margin: 1.5rem 5rem;
}

.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

/* Container */
.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.btn-sign-in {
  padding: 0.5rem 1.2rem;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  font-weight: 700;
}

.btn:hover {
  /* opacity: 0.9; */
  background: #bb040d;
  color: #fff;
}

.btn-rounded {
  border-radius: 7px;
}

.btn-xl {
  font-size: 1.97rem;
  letter-spacing: 1px;
  padding: 1.15rem 0rem;
  /* display: inline; */
  fill: currentColor;
  vertical-align: top;
  width: 275px;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  /* text-transform: uppercase; */
}

/* Input */
.email-input {
  background: rgba(24, 24, 24, 0.7);
  color: rgb(220, 220, 220);
  border-radius: 5px;
  height: 75px;
  width: 485px;
  /* display: inline; */
  font-size: 20px;
  margin-right: 5px;
  padding-left: 15px;
  font-weight: 500;
  border: 1px solid rgba(148, 148, 148, 0.778);
}

.email-input::placeholder {
  color: rgb(157, 157, 157);
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 1.4rem;
}
